.skills__container {
  grid-template-columns: repeat(1, max-content);
  column-gap: 3rem;
  justify-content: center;
}

.skills__sec {
  display: flex;
  column-gap: 8rem;
  align-items: center;
  justify-content: center;
}

.skills__content {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
}

.skills__title {
  position: relative;
  font-size: var(--normal-font-size);
  font-weight: bold;
  /* text-align: center; */
  margin-bottom: var(--mb-1-5);
}

.skills__title::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: var(--text-color);
  left: 0;
  margin-left: 5rem;
  top: 1rem;
}

.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.img_height {
  width: 45px;
  display: inline-block;
  padding: 10px 5px;
}

.img__background {
  border-radius: 5px;
  background-color: var(--icon-body-color);
}
.tool__header {
  font-size: 1.4rem;
  margin-bottom: 3rem;
  font-weight: var(--tiny-font-size);
}

.tool__title {
  margin: 15px 0;
  font-weight: 500;
}

.skills__group {
  display: grid;
  /* align-items: center; */
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  column-gap: 0.5rem;
}

.skills .bx-badge-check {
  font-size: 1rem;
  color: var(--title-color);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--small-font-size);
  line-height: 18px;
}

.skills__level {
  font-size: var(--tiny-font-size);
  font-weight: 500;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .skills__container {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .skills__sec {
    flex-direction: column;
    gap: 5rem;
  }
}

@media screen and (max-width: 576px) {
  .skills__container {
    grid-template-columns: 1fr;
  }
  .skills__content {
    padding: 1.5rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .skills__box {
    column-gap: 1.25rem;
  }

  .skills__name {
    font-size: var(--small-font-size);
  }
}
