.about__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.about__img {
  width: 80%;
  border-radius: 1.5rem;
  justify-self: center;
}

.about__description {
  font-size: 14px;
  line-height: 2;
  margin: 10px 0;
  color: var(--spec-subtitle-color);
}

.desc__part {
  margin: 20px 0;
}

.desc__title {
  color: var(--spec-title-color);
}

.special__text {
  color: var(--light-orange);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .about__container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .about__img {
    width: 220px;
  }
}
